name: Setup and test LVM storage role with emulated disks

on: [push]
env:
  # The following variables are used to determine which files were modified (for linting purposes)
  MODIFIED_FILES: $(git diff --name-only $GITHUB_EVENT_PULL_REQUEST_BEFORE $GITHUB_EVENT_PULL_REQUEST_HEAD_SHA)
  ANSIBLE_FILE_CHECK: find . -name '*.yml' | xargs grep -A1 -B1 '^---.*- name:'
  # The following variables are used by the dummy_disks.py script
  EMULATED_DISK_SIZE: 10M
  NUMBER_OF_EMULATED_DISKS: 4
  ANSIBLE_INVENTORY_FILE_PATH: /hosts.yml

jobs:
  lint-ansible:
    runs-on: ubuntu-latest
    env:
      MODIFIED_ANSIBLE_FILES: $( ${MODIFIED_FILES} | ${ANSIBLE_FILE_CHECK} | xargs -I{} bash -c 'echo "{}"' )
    if: contains(MODIFIED_ANSIBLE_FILES, 'yml')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Ansible Lint
        run: pip3.10 install ansible-lint flake8 pylint
      - name: Lint Ansible files
        run: ansible-lint -c ./ansible-lint-dev.yml ${MODIFIED_ANSIBLE_FILES}
  lint-python:
    runs-on: ubuntu-latest
    env:
      MODIFIED_PYTHON_FILES: $( ${MODIFIED_FILES} | grep -E '\.py$' )
    if: contains(MODIFIED_PYTHON_FILES, '.py')
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python linters
        run: pip3.10 install flake8 pylint mypy
      - name: Lint Python code style with flake8 and pylint
        run: flake8 . && pylint --rcfile=.pylintrc ${MODIFIED_PYTHON_FILES}
      - name: Check typing with mypy
        run: mypy --config-file mypy.ini ${MODIFIED_PYTHON_FILES}

  test-lvm:
    needs: [lint-ansible, lint-python]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Set up emulated disks
      id: setup-disks
      env:
        DISK_SETUP_ARGS: ${{ env.NUMBER_OF_EMULATED_DISKS }} ${{ env.EMULATED_DISK_SIZE }} ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
      run: python3.10 tests/storage/dummy_disks.py setup ${DISK_SETUP_ARGS} >> $GITHUB_OUTPUT
    - name: Show contents of Ansible inventory file
      run: cat ${{ env.ANSIBLE_INVENTORY_FILE_PATH }} >> $GITHUB_OUTPUT
    - name: Check if disks were created
      run: ls -l /dev/loop* | wc -l | grep ${{ env.NUMBER_OF_EMULATED_DISKS }}
    - uses: dawidd6/action-ansible-playbook@v2
      id: lvm-ansible-playbook
      with:
        playbook: tests/storage/main.yml
        options: --inventory ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
    - name: Clean up loop devices
      run: python3.10 tests/storage/dummy_disks.py cleanup
    - name: Remove generated hosts file
      run: rm -f ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
