name: Setup and test LVM storage role with emulated disks

on: [push]
env:
  EMULATED_DISK_SIZE: 10M
  NUMBER_OF_EMULATED_DISKS: 4
  ANSIBLE_INVENTORY_FILE_PATH: /hosts.yml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install linters
        run: pip3.10 install ansible-lint flake8 pylint
      - name: Lint Ansible files
        run: |
            find . \
              -path "./roles/*" -name "*.yml" \
              -o -path "./tests/*" -name "*.yml" \
              -o -name "pile.yml" \
              -exec ansible-lint -c ./ansible-lint-dev.yml {} +
      - name: Lint Python code
        run: |
          flake8 .
          pylint --rcfile=.pylintrc $(find . -name "*.py")

  test-lvm:
    needs: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Set up emulated disks
      id: setup-disks
      run: |
        python3.10 tests/storage/dummy_disks.py \
          setup \
          ${{ env.NUMBER_OF_EMULATED_DISKS }} \
          ${{ env.EMULATED_DISK_SIZE }} \
          ${{ env.ANSIBLE_INVENTORY_FILE_PATH }} >> $GITHUB_OUTPUT
    - name: Show contents of Ansible inventory file
      run: cat ${{ env.ANSIBLE_INVENTORY_FILE_PATH }} >> $GITHUB_OUTPUT
    - name: Check if disks were created
      run: ls -l /dev/loop* | wc -l | grep ${{ env.NUMBER_OF_EMULATED_DISKS }}
    - uses: dawidd6/action-ansible-playbook@v2
      id: lvm-ansible-playbook
      with:
        playbook: tests/storage/main.yml
        options: --inventory ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
    - name: Clean up loop devices
      run: python3.10 tests/storage/dummy_disks.py cleanup
    - name: Remove generated hosts file
      run: rm -f ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
