name: Set up emulated disks

on: [push]

jobs:
  lint-ansible:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
      - name: Install ansible-lint
        run: pip3 install ansible-lint
      - name: Lint ansible files
        run: |
            find . \
              -path "./roles/*" -name "*.yml" \
              -o -path "./tests/*" -name "*.yml" \
              -o -name "pile.yml" \
              -exec ansible-lint -c ./ansible-lint-dev.yml {} +

  set-up-disks:
    needs: lint-ansible
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip
    - name: Set up emulated disks
      run: python3 tests/storage/dummy_disks.py setup 4

  test-lvm:
    needs: set-up-disks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: tests/storage/main.yml
          inventory: hosts.yml

  cleanup:
    needs: set-up-disks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip
    - name: Clean up loop devices
      run: python3 tests/storage/dummy_disks.py cleanup
