name: Setup and test LVM storage role with emulated disks

on: [push]
env:
  EMULATED_DISK_SIZE: 10M
  NUMBER_OF_EMULATED_DISKS: 4
  ANSIBLE_INVENTORY_FILE_PATH: /hosts.yml

jobs:
  lint-ansible:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
      - name: Install ansible-lint
        run: pip3 install ansible-lint
      - name: Lint ansible files
        run: |
            find . \
              -path "./roles/*" -name "*.yml" \
              -o -path "./tests/*" -name "*.yml" \
              -o -name "pile.yml" \
              -exec ansible-lint -c ./ansible-lint-dev.yml {} +

  set-up-disks:
    needs: lint-ansible
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip
    - name: Set up emulated disks
      env:
        SETUP_ARGS: ${{ env.EMULATED_DISK_SIZE }} ${{ env.NUMBER_OF_EMULATED_DISKS }} ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
      run: python3 tests/storage/dummy_disks.py setup $SETUP_ARGS
    - name: Show contents of Ansible inventory file
      run: cat ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
    - name: Check if disks were created
      run: ls -l /dev/loop* | wc -l | grep ${{ env.NUMBER_OF_EMULATED_DISKS }}

  test-lvm:
    needs: set-up-disks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dawidd6/action-ansible-playbook@v2
        id: lvm-ansible-playbook
        with:
          playbook: tests/storage/main.yml
          options: --inventory ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}

  cleanup:
    needs: test-lvm
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip
    - name: Clean up loop devices
      run: python3 tests/storage/dummy_disks.py cleanup
    - name: Remove generated hosts file
      run: rm -f ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
