name: Setup and test LVM storage role with emulated disks

on: [push]
env:
  EMULATED_DISK_SIZE: 10M
  NUMBER_OF_EMULATED_DISKS: 4
  ANSIBLE_INVENTORY_FILE_PATH: /hosts.yml

jobs:
  initialize-sha:
  check-changed-files:
    runs-on: ubuntu-latest
    outputs:
      changed_py_files: ${{ steps.changed-py-files.outputs.all_changed_files }}
      changed_ansible_files: ${{ steps.changed-ansible-files.outputs.all_changed_files }}
    steps:
    - name: Get Ansible changed files
      id: changed-ansible-files
      uses: tj-actions/changed-files@v23
      with:
        sha: ${{ github.sha }}
        base_sha: ${{ secrets.ANSIBLE_REFERENCE_SHA || github.event.pull_request.base.sha }}
        files: |
          *.yml
          **/*.yml
    - name: If Ansible files were changed, set comparison sha to current commit
      if: steps.changed-ansible-files.outputs.any_changed == 'true'
      uses: gliech/create-github-secret-action@v1
      with:
        name: ANSIBLE_REFERENCE_SHA
        value: ${{ github.sha }}
        pa_token: ${{ github.token }}
    - name: Get Python changed files
      id: changed-py-files
      uses: tj-actions/changed-files@v23
      with:
        sha: ${{ github.sha }}
        base_sha: ${{ secrets.PYTHON_REFERENCE_SHA || github.event.pull_request.base.sha }}
        files: |
          *.py
          **/*.py
    - name: If Python files were changed, set comparison sha to current commit
      if: steps.changed-py-files.outputs.any_changed == 'true'
      uses: gliech/create-github-secret-action@v1
      with:
        name: PYTHON_REFERENCE_SHA
        value: ${{ github.sha }}
        pa_token: ${{ github.token }}
  lint-ansible:
    runs-on: ubuntu-latest
    needs: check-changed-files
    if: needs.check-changed-files.outputs.changed_ansible_files != ''
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Ansible Lint
        run: pip3.10 install ansible-lint flake8 pylint
      - name: Lint Ansible files
        run: ansible-lint -c ${{ needs.check-changed-files.outputs.changed_ansible_files }}
  lint-python:
    runs-on: ubuntu-latest
    needs: check-changed-files
    if: needs.check-changed-files.outputs.changed_py_files != ''
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Python linters
        run: pip3.10 install flake8 pylint mypy
      - name: Lint Python code style with flake8
        run: flake8 .
      - name: Lint Python code style with pylint
        run: pylint --rcfile .pylintrc ${{ needs.check-changed-files.outputs.changed_py_files }}
      - name: Check typing with mypy
        run: mypy --config-file mypy.ini ${{ needs.check-changed-files.outputs.changed_py_files }}

  test-lvm:
    needs: [lint-ansible, lint-python]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Set up emulated disks
      id: setup-disks
      env:
        DISK_SETUP_ARGS: ${{ env.NUMBER_OF_EMULATED_DISKS }} ${{ env.EMULATED_DISK_SIZE }} ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
      run: python3.10 tests/storage/dummy_disks.py setup ${DISK_SETUP_ARGS} >> $GITHUB_OUTPUT
    - name: Show contents of Ansible inventory file
      run: cat ${{ env.ANSIBLE_INVENTORY_FILE_PATH }} >> $GITHUB_OUTPUT
    - name: Check if disks were created
      run: ls -l /dev/loop* | wc -l | grep ${{ env.NUMBER_OF_EMULATED_DISKS }}
    - uses: dawidd6/action-ansible-playbook@v2
      id: lvm-ansible-playbook
      with:
        playbook: tests/storage/main.yml
        options: --inventory ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
    - name: Clean up loop devices
      run: python3.10 tests/storage/dummy_disks.py cleanup
    - name: Remove generated hosts file
      run: rm -f ${{ env.ANSIBLE_INVENTORY_FILE_PATH }}
